.main {
  margin: 5%;
  margin-left: 15%;
  width: 55%;
  height: 500px;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 0 8% !important;
  overflow-y: auto;
  
  @media (max-width: 768px) {
      width: 90%;
      margin: 1%;
      padding: 5%;
  }

  .container {
          .title {
              text-align: center;
              font-size: 24px;
              margin-bottom: 20px;
              
              .icon {
                  margin-right: 10px;
                  // Add styles for the icon here if needed
              }
          }
          
          p {
              padding: 0 3% 0 3%;
              font-size: 16px;
              text-align: justify;
          }
          
          .reading-description-continue {
              margin: 36px 0 20px 0;
          }
  }
  
  .start-btn {
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 40%;
    cursor: pointer;
    background-color: #04aba2;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;

      &:hover {
        background-color: #038a85;
        box-shadow: 0px 5px 10px #015f5c;
      }
  }
}
