.listening-direction-main {
    margin: auto;
    width: 65%;
    height: 100%;
    border-color: #000;
    border-width: 1px 1px 1px 1px;
    border-style: solid;

    ./toefl/reading-main-heading {
        text-align: center;
        padding: 20px 0 20px 0;
    }

    ./toefl/reading-description-main {
       padding: 0 3% 24px 3%;
        font-size: 16px;

        ./toefl/reading-description-main {
            margin: 36px 0 20px 0;
        }
    }
    audio{
        display: none;
    }
}