.end-build-main {
    margin: auto;
    width: 65%;
    height: calc(100vh - 130px);
    border-color: #000;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    padding: 0 9%;

    .build-main-heading {
        text-align: center;
        padding: 20px 0 20px 0;
    }

    .build-description-main {
        padding: 0 3% 0 3%;

        .general-description-continue {
            margin: 36px 0 20px 0;
        }
    }
}