//common radio button style
.common-radio-controls {
    .form-check {
        margin-bottom: 25px;

        .form-check-label {
            font-size: 16px;
            color: #000;
            font-weight: 400;
            font-family: 'Open Sans', arial, sans-serif;
        }
    }
}

.show-ans-btn {
    background-image: linear-gradient(#3b69a0, #305481);
    border-color: #89A4C6;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
    font-size: 15;
    font-weight: 400;
    padding: 5px 10px;
    vertical-align: top;
}

//audio player section
.audio-player-section {
    background-color: #336699;
    border-radius: 0px;
    width: 285px;
    height: 85px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h6 {
        color: #fff;
        font-size: 14px;
        margin-bottom: 0px;
        text-align: center;
        font-weight: 500;
    }

    .audio-player {
        width: 100%;
        height: 47px;
    }
}

// .ans-aero {
//     display: flex;
//     position: relative;
//     img {
//         width: 22px;
//         height: 22px;
//         position: absolute;
//         left: -28px;
//         top: 1px;
//     }
// }
mark {
    background-color: #000;
    color: rgb(254, 254, 254);
}

.left-button-wrap {
    display: flex;
    align-items: center;
    gap: 5px;

    .common-control-btn {
        background-image: linear-gradient(#3b69a0, #305481);
        border-color: #89A4C6;
        cursor: pointer;
        border-radius: 6px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        padding: 5px 10px;
        vertical-align: top;
        line-height: 23px;
    }
}

.hide {
    display: none;
}